@import url('https://cloud.typenetwork.com/projects/5546/fontface.css/');

html {
	height: 100%;
	-webkit-font-smoothing: antialiased;
}

html,
body,
#theme-container,
#app {
	display: flex;
	flex-direction: column;
}

body,
#theme-container,
#app {
	flex-grow: 1;
}
